<% layout("./layouts/boilerplate") -%>
<body>
  <form action="/assets/new" method="post">
    <h3>Create New Asset :-</h3>
    <input
      type="text"
      name="serialNo"
      id="serialNo"
      placeholder="Enter serial no"
    />
    <br /><br />
    <input
      type="text"
      name="location"
      id="location"
      placeholder="Enter location"
    /><br /><br />
    <input
      type="text"
      name="category"
      id="category"
      placeholder="Enter category"
    /><br /><br />
    <input
      type="text"
      name="manufacturer"
      id="manufacturer"
      placeholder="Enter manufacturer"
    /><br /><br />
    <input
      type="text"
      name="model"
      id="model"
      placeholder="Enter model"
    /><br /><br />
    <input
      type="text"
      name="modelNo"
      id="modelNo"
      placeholder="Enter modelNo"
    /><br /><br />
    <input
      type="text"
      name="employeeCode"
      id="employeeCode"
      placeholder="Enter employeeCode"
    /><br /><br />
    <input
      type="text"
      name="employeeName"
      id="employeeName"
      placeholder="Enter employeeName"
    /><br /><br />
    <input
      type="text"
      name="department"
      id="department"
      placeholder="Enter department"
    /><br /><br />
    <input
      type="text"
      name="ram"
      id="ram"
      placeholder="Enter ram"
    /><br /><br />
    <input
      type="text"
      name="hdd"
      id="hdd"
      placeholder="Enter hdd"
    /><br /><br />
    <input
      type="text"
      name="processor"
      id="processor"
      placeholder="Enter processor"
    /><br /><br />
    <input
      type="text"
      name="keyboard"
      id="keyboard"
      placeholder="Enter keyboard"
    /><br /><br />
    <input
      type="text"
      name="mouse"
      id="mouse"
      placeholder="Enter mouse"
    /><br /><br />
    <input type="text" name="ip" id="ip" placeholder="Enter ip" /><br /><br />
    <input
      type="text"
      name="monitor"
      id="monitor"
      placeholder="Enter monitor"
    /><br /><br />
    <input type="text" name="os" id="os" placeholder="Enter os" /><br /><br />
    <input
      type="text"
      name="antivirus"
      id="antivirus"
      placeholder="Enter antivirus"
    /><br /><br />
    <input
      type="text"
      name="warrenty"
      id="warrenty"
      placeholder="Enter warrenty"
    /><br /><br />
    <input
      type="text"
      name="office"
      id="office"
      placeholder="Enter office"
    /><br /><br />
    <button>Add Asset</button>
  </form>
</body>
